*, *::after, *::before {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

:root {
    --fill: 1;
    --bg-pomodoro: rgb(219, 82, 77);
    --bg-short-break: rgb(70, 142, 145);
    --bg-long-break: rgb(0, 110, 255);
}

body {
    margin: 0;
}
  
main {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.pomodoro {
    --bg: var(--bg-pomodoro)
}

.shortBreak {
    --bg: var(--bg-short-break)
}

.longBreak {
    --bg: var(--bg-long-break)
}

.timer {
    /* font-size: 2rem; */
    text-align: center;
    padding: 2em 3em;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}
  
.clock {
    border-radius: 500px;
    margin-top: 1em;
    position: relative;
    overflow: hidden;
}

.clock > div:first-of-type {
    display: inline-block;
    font-size: 5em;
    position: inherit;
    z-index: 1;
}

.fill {
    position: absolute;
    width: 100%;
    height:  calc(100% * var(--fill));
    left: 0;
    bottom: 0;
    transition: height 1s linear;
}

.fill.green {
    background: green;
}

.fill.orange {
    background: orange;
}

.fill.red {
    background: red;
}

input {
    width: 0;
    height: 0;
    position: absolute;
}

input:checked + label {
    background: rgba(0, 0, 0, 0.15);
}

label {
    padding: 0.3em 0.6em;
    border-radius: 0.4em;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-stop {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    background: white;
    color: var(--bg);
    border: none;
    border-radius: 0.25em;
    width: 8em;
    height: 2.25em;
    cursor: pointer;
    /* box-shadow: rgb(235 235 235) 0px 6px 0px; */
}

.start-stop:hover {
    opacity: 0.9;
}

.timerFuncButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 1em;
}

.skipButton {
    position: absolute;
    top: 0.1em;
    right: 0;
    font-size: 2em;
    padding: 0;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.skipButton:hover {
    opacity: 0.9;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

