<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Pomodoro timer</title>
</head>

<body class="pomodoro">
    <section>
        <div class="buttons">
            <input type="radio" name="pomodoroStatus" id="pomodoro">
            <label for="pomodoro">Pomodoro</label>
            <input type="radio" name="pomodoroStatus" id="shortBreak">
            <label for="shortBreak">Short Break</label>
            <input type="radio" name="pomodoroStatus" id="longBreak">
            <label for="longBreak">Long Break</label>
        </div>
        <div class="clock">
            <div>
                <div data-time></div>
                <div class="fill green"></div>
            </div>
        </div>
        <div class="timerFuncButtons">
            <button onclick="start()" class="start-stop">Start</button>
            <button class="skipButton hidden" onclick="skip()">🡆</button>
        </div>
    </section>

    <script src="script.js"></script>
</body>

</html>